<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="osc_user" value=""/>
    <add key="osc_password" value=""/>    
    <add key="rightnow_user" value="Admin2"/>
    <add key="rightnow_password" value="Admin1234"/>
  </appSettings>
</configuration>
