<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="loginName" value=""/>
    <add key="password" value=""/>
    <add key="companyName" value=""/>
    <add key="rightnow_user" value="Admin2"/>
    <add key="rightnow_password" value="Admin1234"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InboundInterfaceBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="InboundInterfaceBinding1"/>
        <binding name="ApiBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="ApiBinding1"/>
        <binding name="CapacityBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="CapacityBinding1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="RightNowSyncBinding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <textMessageEncoding messageVersion="Soap11"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://demo.etadirect.com/soap/inbound/" binding="basicHttpBinding" bindingConfiguration="InboundInterfaceBinding" contract="InboundProxyService.InboundInterfacePort" name="InboundInterfacePort"/>
      <endpoint address="https://demo.etadirect.com/soap/activity/v2/" binding="basicHttpBinding" bindingConfiguration="ApiBinding" contract="ActivityProxyService.ApiPortType" name="activity"/>
      <endpoint address="https://rnw-toa-05122014.dv.lan/cgi-bin/rnw_toa_05122014.cfg/services/soap" binding="customBinding" bindingConfiguration="RightNowSyncBinding" contract="RightNowProxyService.RightNowSyncPort" name="RightNowSyncPort"/>
      <endpoint address="https://demo.etadirect.com/soap/capacity/" binding="basicHttpBinding" bindingConfiguration="CapacityBinding" contract="CapacityProxyService.CapacityPortType" name="toa_capacity_interface"/>
    </client>
  </system.serviceModel>
</configuration>
