[DEFAULT]
VERSION=1.0.1
REPORT_LIST=aia_incidents,aia_product_hierarchy,aia_disposition_hierarchy,aia_category_hierarchy
SIGNATURES=html,emails,numbers
MODEL_TRAINING_INTERVAL=720
INCIDENT_REPORT_NAME=aia_incidents

INGESTION_JOB_REPEAT_INTERVAL_IN_HOUR=24
ROQL_AI_INCIDENT_LIMIT=30000
ROQL_AI_INCIDENT_OFFSET=30000
INGESTION_JOB_INITIAL_DATA_FETCH_DAYS = 365
AIA_HIERARCHY_DATA_FROM_ROQL = true
JWT_TIME_EXPIRY_IN_MINUTE=2
CLEANUP_SCOPE=html,urls,emails,numbers,phone,date,person
STOP_WORDS=to:,from:,cc:,original message,thank you,forwarded message,fwd,[external],[ext],fw:,sent
