<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEBSMockSvc"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/EBSMockSvc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEBSMockSvc" contract="EBSMockServiceReference.IEBSMockSvc" name="BasicHttpBinding_IEBSMockSvc"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
