<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ActivityWSPort"/>
                <binding name="WC_Service_Request_BS"/>
                <binding name="WC_Contacts_BS"/>
                <binding name="ActivityWSPort1"/>
                <binding name="AssetManagementPort"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="RightNowSyncBinding">
                    <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false">
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding messageVersion="Soap11"/>
                    <httpsTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://day12-14801-sql-113h.dv.lan/cgi-bin/day12_14801_sql_113h.cfg/services/soap" binding="customBinding" bindingConfiguration="RightNowSyncBinding" contract="RightNowServiceReference.RightNowSyncPort" name="RightNowSyncPort"/>
            <endpoint address="http://slc02wps.us.oracle.com/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute" binding="basicHttpBinding" bindingConfiguration="AssetManagementPort" contract="AssetMgmtRef.AssetManagementPort" name="AssetManagementPort"/>
            <endpoint address="http://slc01ebh.us.oracle.com/eai_enu/start.swe?SWEExtSource=CustomUI&amp;SWEExtCmd=Execute&amp;WSSOAP=1" binding="basicHttpBinding" bindingConfiguration="WC_Service_Request_BS" contract="ServiceRequestRef.WC_Service_Request_BS" name="WC_Service_Request_BS"/>
            <endpoint address="http://webserver/CustAppSvcs_enu/start.swe?SWEExtSource=CustomUI&amp;SWEExtCmd=Execute&amp;WSSOAP=1" binding="basicHttpBinding" bindingConfiguration="WC_Contacts_BS" contract="ContactRef.WC_Contacts_BS" name="WC_Contacts_BS"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
