<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEBSMockSvc"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="RightNowSyncBinding">
                    <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false">
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding messageVersion="Soap11"/>
                    <httpsTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://day12-14801-sql-113h.dv.lan/cgi-bin/day12_14801_sql_113h.cfg/services/soap" binding="customBinding" bindingConfiguration="RightNowSyncBinding" contract="RightNowServiceReference.RightNowSyncPort" name="RightNowSyncPort"/>
            <endpoint address="http://adc6170583.us.oracle.com:9050/EBSMockSvc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEBSMockSvc" contract="MockEBSServiceReference.IEBSMockSvc" name="BasicHttpBinding_IEBSMockSvc"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
